[Desktop Entry]
Type=X-GNOME-Metatheme
Name={{meta.theme_id}}
Comment={{meta.os_name}} — {{meta.slogan}}
Encoding=UTF-8

[X-GNOME-Metatheme]
GtkTheme={{meta.theme_id}}
MetacityTheme={{meta.theme_id}}
IconTheme=Papirus-Dark
CursorTheme=Adwaita
ButtonLayout=:minimize,maximize,close
