[Desktop Entry]
Type=Application
Version=1.0
Name=Settings
Comment=XFCE settings manager
Exec=xfce4-settings-manager
Icon=preferences-system
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=false
